---
export const prerender = true;
import {
  Client,
  collectDataSourceTemplates,
  type QueryDataSourceResponse,
} from "@notionhq/client";

const notion = new Client({ auth: import.meta.env.NOTION_SECRET_KEY });

// const response = await notion.dataSources.retrieve({
//   data_source_id: import.meta.env.NOTION_DATASOURCE_ID,
// });

const queryDS: QueryDataSourceResponse = await notion.dataSources.query({
  data_source_id: import.meta.env.NOTION_DATASOURCE_ID,
  filter_properties: ["Tarea", "Estado", "Descripcion"],
});

// for (const page of queryDS.results) {
//   // You can use type guards like isFullPage to work with specific types
//   console.log("Plain Text:", (page as any).properties["Estado"]);
// }
---

<table class="table-fixed w-full">
  <thead>
    <tr class="font-bold">
      <th>Tarea</th>
      <th>Estado</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    {
      queryDS.results?.map((page) => (
        <tr>
          <td>{(page as any).properties["Tarea"].title[0].plain_text}</td>
          <td>{(page as any).properties["Estado"].status.name}</td>
          <td>
            {(page as any).properties["Descripcion"]?.rich_text[0].plain_text}
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
